<h1>Administrator</h1>

<ul class="users">
  <% @user.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <% if current_user.is_admin? && (user.id != current_user.id) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
    </li>
  <% end %>
</ul>
